@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Prism&display=swap");
body {
  font-family: "Shantell Sans", cursive;
}

/* ESTILZANDO EL NAVBAR */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 70px;
  font-family: "Shantell Sans", cursive;
}

.nav-link {
  color: #000 !important;
  font-size: 1rem !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.hamburguer__icon {
  color: #000;
  font-size: 2rem;
}

.navbar__logo {
  width: 160px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}

.navbar__icons {
  width: 280px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.navbar__item {
  padding: 30px 0;
  list-style: none;
}

.navbar__item i {
  font-size: 1.3rem;
  color: #000;
}

/* ESTILIZANDO EL HERO 1 */
.hero {
  height: 85vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Items/backgrounds/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
  background-attachment: fixed;
}

.hero__text {
  grid-column: 2/6;
  grid-row: 2/5;
  text-align: start;
}

.hero__title {
  letter-spacing: 1px;
  font-size: 5rem;
  color: #fff;
  font-family: "Tilt Warp", cursive;
}

.hero__paragraph {
  font-size: 2rem;
  color: #fff;
}

.hero__btn {
  background: #fff;
  width: 180px;
  height: 70px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
}

.hero__cta {
  font-size: 25px;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
}

/*ESTILIZANDO LA SECCION 1*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre-mi {
  height: 800px;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/Items/backgrounds/section-sobremi.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sobre-mi .contenedor1 {
  max-width: 700px;
  text-align: center;
}

.seccion__titulo {
  font-size: 4.5rem;
  padding: 15px 0;
  font-family: "Tilt Warp", cursive;
  border-bottom: 5px solid #fff;
  color: #fff;
}

.seccion__texto {
  font-size: 1.2rem;
  padding: 15px 0;
  color: #fff;
}

/*ESTILIZANDO SECCION 2*/
.titulo {
  margin: 60px 0;
  font-size: 3.5rem;
  font-family: "Tilt Warp", cursive;
  border-bottom: 4px solid #000;
  letter-spacing: 3px;
}

.experiencia__text {
  height: 500px;
  margin-top: 25px;
  padding: 70px 20px;
  border-radius: 10px;
}

.bg__1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Items/backgrounds/img-modelohombre.jpg);
  background-size: cover;
  background-position: center 0.5px;
}

.bg__2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Items/backgrounds/overshide.webp);
  background-size: cover;
  background-position: center;
}

.bg__3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Items/backgrounds/bg-verano.jpg);
  background-size: cover;
  background-position: center;
}

.bg__4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Items/backgrounds/aesthetic.jpg);
  background-size: cover;
  background-position: center;
}

.bg__5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Items/backgrounds/bg-vintaje.jpg);
  background-size: cover;
  background-position: center;
}

.bg__6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Items/backgrounds/bg-minimalista.webp);
  background-size: cover;
  background-position: center;
}

.experiencia__title {
  font-size: 2rem;
  font-family: "Tilt Warp", cursive;
  color: white;
  padding: 15px 0;
  border-bottom: 5px solid #fff;
}

.experiencia__texto {
  font-size: 1.2rem;
  color: #f5f5f5;
  padding: 15px 0;
}

.experiencia__cta {
  display: inline-block;
  width: 120px;
  height: 50px;
  font-weight: bold;
  text-decoration: none;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  padding-top: 8px;
  font-size: 20px;
}

/*SECCION NOVEDAES*/
.titulo__carousel {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 3.2rem;
  padding: 20px 0;
  letter-spacing: 2px;
  font-family: "Tilt Prism", cursive;
}

.subtitle {
  text-align: center;
  padding-top: 40px;
  color: #000;
  font-size: 3.3rem;
  font-family: "Tilt Prism", cursive;
  border-bottom: 5px solid #000;
}

.carousel-inner {
  max-height: 750px;
}

.figures {
  object-fit: cover;
}

.figure__container {
  margin: 50px 0;
  height: 650px;
  max-height: 900px;
  position: relative;
  overflow: hidden;
}

.figure__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* SECCION TIENDA */
.tienda__title {
  text-align: center;
  padding-top: 40px;
  color: #000;
  font-size: 4rem;
  font-family: "Tilt Prism", cursive;
  letter-spacing: 4px;
}

.tienda__cta {
  color: #000;
  font-weight: bold;
}

/* MEDIA QUARIES */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: #fff;
    z-index: 1;
  }
  .navbar__icons {
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  .navbar__item {
    padding-left: 50px;
  }
  .nav-item {
    padding-top: 25px;
  }
  /* SECCION HERO */
  .hero__text {
    grid-column: 2/7;
    grid-row: 3/5;
  }
  .hero__title {
    font-size: 35px;
  }
  .hero__paragraph {
    font-size: 20px;
  }
  .hero__btn {
    width: 120px;
    height: 50px;
  }
  .hero__cta {
    font-size: 17px;
  }
}

/*# sourceMappingURL=style.css.map */
